<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="lista-de-note.css" />
    <style>
      p.link:link {
        color: blue;
      }
      p.link:hover {
        color: turquoise;
      }
    </style>
  </head>

  <body>
    <article class="note">
      <div class="note-container">
        <h1>You have a nice heart</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum
          tempor mi id volutpat. Sed semper, neque ac ullamcorper varius, tellus
          velit auctor metus, in commodo diam nibh quis li. Donec blandit nunc
          felis, eget pharetra purus tincidunt a. Duis vitae orci eleifend,
          cursus purus sed, imperdiet massa. Duis mattis dolor sem, convallis
          placerat tellus ornare eget. Duis in ultricies massa. Duis nec auctor
          sem.
        </p>
        <div class="note-image">
          <img src="https://wallpaperaccess.com/full/860435.jpg" />
        </div>

        <h2>You have a nice heart</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum
          tempor mi id volu Sed semper, neque ac ullamcorper varius, tellus
          velit auctor metus, in commodo diam nibh quis libero. Donec blandit
          nunc felis, eget pharetra purus tincidunt a. Duis vitae orci eleifend,
          cursus purus sed, imperdiet massa. Duis mattis dolor sem, convallis
          placerat tellus ornare eget. Duis in ultricies massa. Duis nec auctor
          sem.
        </p>
        <div class="link">
          <a href="#"> HTML</a>
        </div>
        <div class="link">
          <a href="#"> CSS</a>
        </div>
        <div class="link">
          <a href="#">CSS Advanced</a>
        </div>
        <ul type="disc">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Aenean rutrum tempor mi id volutpat.</li>
          <li>Sed semper, neque ac ullamcorper varius.</li>
          <li>Tellus velit auctor metus, in commodo diam nibh quis libero.</li>
          <li>Donec blandit nunc felis, eget pharetra purus tincidunt.</li>
        </ul>
        <h3>You have a nice heart</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum
          tempor mi id volu Sed semper, neque ac ullamcorper varius, tellus
          velit auctor metus, in commodo diam nibh quis libero. Donec blandit
          nunc felis, eget pharetra purus tincidunt a. Duis vitae orci eleifend,
          cursus purus sed, imperdiet massa. Duis mattis dolor sem, convallis
          placerat tellus ornare eget. Duis in ultricies massa. Duis nec auctor
          sem.
        </p>
      </div>
    </article>
  </body>
</html>
