<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template Vechi</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="NewNoteButtonDashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />
  </head>

  <body>
    <section class="dashboard">
      <div class="dashboard-text">
        <h1>Dashboard</h1>
      </div>

      <button class="dashboard-button">
        NEW NOTE
      </button>
    </section>
  </body>
</html>
