<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
      <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <section class="about">
      <p class="about-title">About Notes App</p>
      <p class="about-text">
        Phosfluorescently engage worldwide methodologies with web-enabled
        technology. Interactively coordinate proactive e-commerce via
        process-centric thinking. Completely pursue scalable customer service
        through sustainable potentialities
      </p>
    </section>
  </body>
</html>
