<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template Vechi</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="register-page.css" />
  </head>
  <body>
    <section class="register-page">
      <div class="register">
        <img src="../../assets/app-view/logo.png" alt="logo" />
        <form>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            required
          />
          <input
            type="text"
            name="fullname"
            id="fullname"
            placeholder="Full name"
            required
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
          />
          <input
            type="password"
            name="confirmpassword"
            id="confirmpassword"
            placeholder="Confirm Password"
            required
          />
          <div class="buttons">
            <button class="register-button registerButton">Register</button>
            <button class="register-button loginButton">Login</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
