.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.register {
  height: 473px;
  width: 352px;
  border: 2px #2ea1f8 solid;
  border-radius: 5px;
  background: white solid;
}

.register img {
  margin: 25px 115px 25px 114px;
}

.register form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register form input {
  width: 270px;
  height: 54px;
  margin-bottom: 19px;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 17px 0px 15px 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.register-button {
  width: 140px;
  height: 46px;
  margin: 0;
  margin-top: 10px;
  padding: 12px 16px 11px 17px;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  left: 7px;
}

.registerButton {
  background: #2ea1f8;
  border: #2ea1f8;
  color: #ffffff;
}

.loginButton {
  background-color: #ffffff;
  border: none;
  color: #278df6;
}
