<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template Vechi</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="linienotita.css" />
  </head>
  <body>
    <h1 class="text">You have a nice heart</h1>
    <div class="divider">
      
      <hr class="linie1">
    </hr>
    <button class="button">+</button>

    <hr class="linie2">
    </hr>



    </div>
  </body>
</html>
