<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />
    <link rel="stylesheet" href="settings.css" />
  </head>
  <body>
    <h1 class="settings">Settings</h1>
    <h2 class="save-settings"
      <a href="#">Save settings</a>
    </h2>
    <h3 class="full-name">Full name<h3> 
    <h3 class="old-password">Old password<h3> 
    <h3 class="new-password">New password<h3> 
    <h3 class="confirm-password">Confirm password<h3> 
    <h3 class="custom-theme">Custom theme<h3> 
  </body>
  </html>