.divider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.linie1 {
  flex: 1;
  border: none;
  height: 2px;
  background: rgb(190, 219, 233);
  margin-left: 15%;
}
.linie2 {
  flex: 1;
  border: none;
  height: 2px;
  background: rgb(190, 219, 233);
  margin-right: 15%;
}

hr:hover {
  background-color: #208afa;
  color: #208afa;
}

.button {
  border-radius: 100%;
  color: #208afa;
  margin: 5px;
  background-color: white;
  border-color: #208afa;
}
.text {
  margin-left: 15%;
  font-family: Roboto;
  color: #393939;
  font-weight: 500;
  font-size: 4rem;
  margin-top: 263px;
}
