<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />
    <link rel="stylesheet" href="card.css" />
    <style>
      .text {
        color: #393939;
      }
    </style>
  </head>

  <body>
    <div class="rama">
      <p class="text">You have a nice heart</p>
      <style>
        @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
      </style>
      <p class="data">20 iulie 2018</p>
    </div>
    <div class="rama2">
      <p class="text2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
        Aenean rutrum tempor mi id volutpat. Sed semper, <br />
        neque ac ullamcorper varius, tellus velit auctor metus, in <br />
        commodo diam nibh quis libero. Donec blandit nunc <br />
        felis, eget pharetra purus tincidunt a. Duis vitae orci <br />
        eleifend, cursus purus sed, imperdiet massa. Duis <br />
        mattis dolor sem, convallis placerat tellus ornare eget. <br />
        Duis in ultricies massa.
      </p>
      <p class="data2">20 iulie 2018</p>
    </div>
    <div class="rama3">
      <p class="data3">20 iulie 2018</p>
      <div class="fetele">
        <img
          src="https://s3-alpha-sig.figma.com/img/aff3/f897/6b70264be8974ef97f526de3e48f41ce?Expires=1629676800&Signature=LzX7ndE-0CMgk1GB9v41zz85pa8QdZjcWtQ07C2jHvDOcZr5Fmv3qCFvD6AdfbpqhfyoEq73zJgarB2qbPmOpkcLFYzDBpcvY8D1W3Gs-IjyKhnEgiZFAZAEUzGW~OBKhueb2oCFIv-6ifu8B2iM-qMMmrjZEDNAdOueOkO4Utk08fO--mBWRJ-7SwSS9z8ZwxQsMGyEqAwR2YL1T9uTgcmnzaps~VK8nVOYE2t2Uj01TVlauLHGtrJpQ11fsKF0~-6Yx3v-9llJ1hH2bVCk2nLyiehGy7HKFWzsMGbJ6CTYKOouA2kx5hw6sRvQwLxPjB8Ziu-G7JHaKZVJ7nroHw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        />
      </div>
    </div>
  </body>
</html>
